.books__outer-container {
  width: 100%;
  margin-left: 15vw;

  background-color: $ghostwhite;

  .books__header__title-container {
    display: flex;
    justify-content: space-between;
    padding: 2vw 4vw;
    font-family: $Montserrat;

    h1 {
      font-size: 2.5vw;
      font-weight: 400;
      color: $spblue;
    }

    .books__header__title__input-container {
      display: flex;

      input {
        border: 0;
        outline: 0;
        border-bottom: 1px solid rgb(191, 190, 190);
        background-color: $ghostwhite;
        font-family: $Montserrat;
        font-size: 1vw;
        color: gray;
        width: 80%;
      }

      input::placeholder {
        color: rgb(167, 166, 166);
      }

      .fa-search {
        color: #c5c5c8;
        border-bottom: 1px solid rgb(191, 190, 190);
        font-size: 1.5vw;
      }
    }
  }

  /* Books li container */
  .books__ul__list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    li {
      padding: 2vw;
      font-family: $Montserrat;
      background-color: white;
      transition: all 0.3s;
      border-radius: 5px;
      display: inline-block;
      margin: 1vw;
      width: 15%;
      min-width: 11rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 9rem;
      text-align: center;

      img {
        width: 5rem;
        box-shadow: 1px 1px 4px black;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-bottom: 1vw;
      }

      p:nth-of-type(1) {
        font-weight: 500;
      }

      p:nth-of-type(2) {
        color: #8a8a8a;
        font-size: 0.8rem;
        font-weight: 500;
        padding-top: 0.3rem;
      }

      .books__li__info-container {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;
        padding-top: 0.2rem;

        p:first-of-type {
          color: #898a89;
          font-size: 0.8rem;
        }

        .fas.fa-star {
          color: $fireopal;
        }
      }
    }

    li:hover {
      box-shadow: 2px 2px 7px -1px #888888;
      cursor: pointer;
      transform: scale(1.05);
    }

    .books__ul__list__li-hidden {
      visibility: hidden;
    }
  }
}