::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.sidebar__outer-container {

  background: #0d1721; // TEST
  position: fixed;
  overflow: scroll;
  top: 0;
  bottom: 0;

  .sidebar__section__logo-container {
    img {
      width: 15vw;
      padding: 1vw 2vw;
      box-sizing: border-box;
      background: #08111b;
      background: linear-gradient(rgba(9, 16, 27, 0.82), rgba(9, 16, 27, 0.92)), url(asset-path('books_image.jpeg')) center no-repeat;
    }

    img:hover {
      cursor: pointer;
    }
  }

  .sidebar__section__lists-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    .sidebar__div__browse-container, .sidebar__div__new_releases-container, .sidebar__div__bookmarks-container {
      box-sizing: border-box;
      padding: 1vw;
      font-family: $Montserrat;

      header {
        color: gray;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1vw;
      }

      ul {
        font-size: 1.2vw;
        padding: 0.5vw 0;
        color: $ghostwhite;

        li {
          display: flex;
          padding: 0.5vw 0;
          align-items: center;
          padding-left: 0;
          transition: padding-left 0.5s;

          img {
            width: 2vw;
            margin-right: 1rem;
          }

          p {
            display: inline-block;
            transition: color 0.2s;
          }

          p:hover {
            cursor: pointer;
            color: rgb(44, 139, 222);
          }

          a {
            display: inline-block;
            text-decoration: none;
            color: $ghostwhite;
            transition: color 0.2s;
          }

          a:hover {
            cursor: pointer;
          }

          .sidebar__div__browse__selected-li__link-p {
            cursor: default;
          }

          .sidebar__div__browse__selected-li__link-p:hover {
            pointer-events: none;
            color: $ghostwhite;
          }

          .sidebar__div__li__div-marker {
            position: absolute;
            height: 100%;
            width: 4%;
            background: #424244;
            left: -3px;
            border-radius: 3px 0px 0px 3px;
            top: 0px;
          }
        }

        /* Selected Li */
        .sidebar__div__browse__selected-li {
          background: #1886c4;
          border-radius: 3px 0px 0 3px;
          width: 108%;
          position: relative;
          padding-left: 12px;
          transition: all 0.7s;
        }

        .sidebar__div__book-container {
          border: 2px solid #0d1721;
          box-sizing: border-box;
          transition: 0.2s border;
          color: $ghostwhite;
          padding: 0.5vw;
        }

        .sidebar__div__book-container:hover {
          border: 2px solid rgb(67, 67, 67);
          box-sizing: border-box;
          cursor: pointer;
          color: rgb(44, 139, 222);
        }

        /* # Explore styling */
        li[data-sidebar-nav-type="explore"] p {
          background-color: #F6F8FF;
          background-image: linear-gradient(
            -75deg, transparent 0, transparent 5%, rgba(255,255,255,0.5) 5%,
            rgba(255,255,255,0.5%) 10%, transparent 10%, transparent 100%
          );
          background-size: 200% 100%;
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
         transition: background-position 0.6s ease-out;
        }

        [data-sidebar-nav-type="explore"] p:hover {
          background-color: rgb(44, 139, 222);
          background-position: -130% 0;
        }
      }
    }

    footer {
      font-family: $Montserrat;
      color: $ghostwhite;
      text-align: center;
      padding: 1vw 2vw;
      font-size: 0.85vw;
    }
  }
}

